@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	outline: 0;
}

.titleBar {
	-webkit-user-select: none;
	user-select: none;
	z-index: 1000;
	@apply w-full h-8 px-2 top-0 left-0 fixed flex items-center text-sm border-b-2 bg-white
}

.dragZone {
	-webkit-app-region: drag;
}

.titleBar .dragZone {
	@apply flex-1 h-8 pointer-events-none -z-10
}


.titleBar-extendBtn {
	@apply w-8 h-8 top-0 transition-all hover:bg-gray-200
}

.titleBar-extendBtn-region {
	@apply w-fit h-8 flex
}

.btn-scale {
	@apply hover:scale-110 active:scale-90
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotate 0.5s linear infinite;
}