@tailwind base;
@tailwind components;
@tailwind utilities;

.titleBar {
	-webkit-user-select: none;
	user-select: none;
	z-index: 9999;
	@apply w-full h-8 px-2 top-0 left-0 flex items-center text-sm border-b-2
}

.titleBar>.dragZone {
	-webkit-app-region: drag;
	@apply flex-1 h-8 pointer-events-none -z-10
	/* !在flex内填充剩余空间的方法！flex-1！ */
}


.titleBar-extendBtn {
	@apply w-8 h-8 top-0 transition-all hover:bg-gray-200
}

.titleBar-extendBtn-region {
	@apply w-fit h-8 flex
}

.btn-scale {
	@apply hover:scale-110 active:scale-90
}

body {
	/* margin-top: 32px; */
	/* !FT乱来 */
	/* overflow: hidden; */
}

/* img:not([src]) {
	background-image: none;
} */
/* !from FT，据说可以除去无src时的无效图片，并没有用 */